/*-- scss:uses --*/

/*-- scss:functions --*/

/*-- scss:defaults --*/

/*-- scss:mixins --*/

/*-- scss:rules --*/
table a {
    color: #008B8B;
    font-weight: bolder;
    text-decoration: none;
}

table abbr {
    text-decoration: none !important;
}

.unit-full-title,
.part-and-week {
    white-space: pre-wrap;
}

.monday-and-week,
.day-and-date-combined,
.due-date-and-exam,
.exam-booking {
    white-space: pre;
}

.unit-title,
.monday-of-week,
.day-and-date,
.day-of-week {
    font-size: smaller;
    font-style: italic;
    opacity: 0.6;
}

.placeholder {
    color: transparent;
    opacity: 0;
}

.day-and-date-combined {
    margin-left: 1.5em;
}

.day-and-date-due {
    color: $danger;
}

.exam-button {
    background-color: $warning;
    font-size: smaller;
    color: $body-bg;
    padding: 2px 4px;
    display: inline-block;
    border-radius: 5px;
}

.spacer {
    padding-left: 0.5em;
}

.half-spacer {
    padding-left: 0.25em;
}
